<header class="form-header">
  {{#if canBrowse }}
  <button type="button" data-action="openFilePicker" class="fvtt-picker" style="width: -webkit-fill-available" title="Select another file"><i class="fas fa-folder-open"></i> {{localize "vtta-tokenizer.filepicker.select"}}</button>
  {{/if}}
</header>
