<div class="form-description">
  <form id="ddb-importer-settings" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-content">

<p>{{localize "vtta-tokenizer.reset-custom-frames.name"}}</p>
<button title="Reset" class="menu-button"><i class="fas fa-check"></i> {{localize "vtta-tokenizer.reset-custom-frames.list"}}</button>

</div>
</form>
</div>
