<div class="form-description">
  <form id="ddb-importer-settings" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-content">

<p>{{ labels.name }}</p>
<button title="{{localize 'vtta-tokenizer.label.reset'}}" class="menu-button"><i class="fas fa-check"></i> {{ labels.list }}</button>

</div>
</form>
</div>
