<div class="form-description">
  <form id="ddb-importer-settings" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-content">

<p>Reset custom frames?</p>
<button title="Reset" class="menu-button"><i class="fas fa-check"></i> Reset Custom Frames List</button>

</div>
</form>
</div>
