<div class="form-description">
  <p>{{ labels.name }}</p>
  <button type="submit" title="{{localize 'vtta-tokenizer.label.reset'}}" class="menu-button"><i class="fas fa-check"></i> {{ labels.list }}</button>
</div>
