<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="main">
    <p>
      <div class="list">
        {{#each assets as |a|}}{{{a}}}{{/each}}
      </div>
    </p>
    <footer>
{{#if canBrowse }}
      <div class="actions">
       <button class="fvtt-picker" title="Select another file"><i class="fas fa-folder-open"></i> Select another file</button>
      </div>
{{/if}}
    </footer>
  </div>  
</form>
