<form autocomplete="off" onsubmit="event.preventDefault();">
  <header>
{{#if canBrowse }}
      <div class="actions">
       <button class="fvtt-picker" title="Select another file"><i class="fas fa-folder-open"></i> {{localize "vtta-tokenizer.filepicker.select"}}</button>
      </div>
{{/if}}
  </header>
  <div class="main">
    <p>
      <div class="list">
        {{#each assets as |a|}}{{{a}}}{{/each}}
      </div>
    </p>
  </div>  
</form>
