<form>
    <div id="vtta-tokenizer">
        <!-- the uploaded file names will be set here -->
        <input type="text" name="options.avatarFilename" style="display: none" data-dtype="String" />
        <input type="text" name="options.tokenFilename" style="display: none" data-dtype="String" />

        <div>
            <div class="avatar">
                <h1>Avatar</h1>
                <div class="view" id="tokenizer-avatar"></div>
                <div class="menu" id="avatar-options">
                    <div class="section">
                        <div class="title">Add Layer</div>
                        <div class="content">
                            <button title="Use Token image" class="menu-button" data-type="token" data-target="avatar"><i class="fas fa-user-circle"></i></button>
                            <button title="Use a URL" class="menu-button" data-type="download" data-target="avatar"><i class="fas fa-globe"></i></button>
                            <button title="Upload from your computer" class="menu-button" data-type="upload" data-target="avatar"><i class="fas fa-upload"></i></button>
                            <input type="text" class="filePickerTarget" name="foundryAvatar" data-target="avatar" data-type="server" data-dtype="String" />
                            {{#if canBrowse }}
                            <button title="Use an image from Foundry Server" class="menu-button file-picker" data-type="imagevideo" data-target="foundryAvatar">
                                <i class="fas fa-server"></i>
                            </button>
                            {{/if}}
                            {{#if tokenVariantsEnabled}}
                            <button title="Use an image from Foundry Server through TokenVariants" class="menu-button" data-type="tokenVariants" data-target="avatar">
                                <i class="fas fa-images"></i>
                            </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="section">
                        <div class="title">Paste Target</div>
                        <div class="content">
                            <button title="Paste target" id="paste-toggle" class="menu-button" data-type="paste-toggle-{{this.pasteTarget}}"><i class="fas fa-clipboard"></i> {{this.pasteTargetName}}</button>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="section">
                        <div class="title">Modify Token Only?</div>
                        <div class="content">
                            <button title="Token Only" id="token-only" class="menu-button" data-type="token-only-toggle"><i class="fas fa-toggle-{{#if tokenOnlyToggle}}on{{else}}off{{/if}}"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="token" id="tokenizer-token-parent">
                <h1>Token</h1>
                <div class="view" id="tokenizer-token"></div>
                <div class="menu">
                    <div class="section">
                        <div class="title">Add Layer</div>
                        <div class="content">
                            <button title="Use Avatar image" class="menu-button" data-type="avatar" data-target="token"><i class="fas fa-user"></i></button>
                            <button title="Use a URL" class="menu-button" data-type="download" data-target="token"><i class="fas fa-globe"></i></button>
                            <button title="Upload from your computer" class="menu-button" data-type="upload" data-target="token"><i class="fas fa-upload"></i></button>
                            {{#if canBrowse }}
                            <input type="text" class="filePickerTarget" name="foundryToken" data-target="token" data-type="server" />
                            <button title="Use an image from Foundry Server" class="menu-button file-picker" data-type="imagevideo" data-target="foundryToken">
                                <i class="fas fa-server"></i>
                            </button>
                            {{/if}}
                            {{#if tokenVariantsEnabled}}
                            <button title="Use an image from Foundry Server through TokenVariants" class="menu-button" data-type="tokenVariants" data-target="token">
                                <i class="fas fa-images"></i>
                            </button>
                            {{/if}}
                            <button title="Use a color layer" class="menu-button" data-type="color" data-target="token"><i class="fas fa-fill"></i></button>
                        </div>
                    </div>
                    <div class="section">
                        <div class="title">Add frame</div>
                        <div class="content">
                            <button title="Add Frame" class="menu-button file-picker-thumbs" data-type="frame" data-target="token"><i class="fas fa-user-circle"></i></button>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="section">
                        <div class="title">Save Location/Name</div>
                        <div class="content">
                            <button title="Save Location/Name" class="menu-button" data-type="locations"><i class="fas fa-folder-open"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                {{!-- <span style="font-weight: bold">Target : </span>
                <span name="targetPath">Generating...</span> --}}
                <span style="font-weight: bold">Target Filename: </span>
                <span name="targetFilename">Generating...</span>
                <input type="hidden" name="targetAvatarFilename" />
                <input type="hidden" name="targetTokenFilename" />
            </div>
            <button title="Save and close" type="submit" id="ok" {{#unless canUpload }}disabled{{/unless}}>OK</button>
        </div>
    </div>
</form>
